<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>

  <appSettings>
    <add key="UploadUrl" value="http://localhost:5000/api/values/upload" />
    <add key="UploadFile" value="PathToLargeFile" />
  </appSettings>

</configuration>